.card{
    bottom: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: rgb(249, 7, 7);
    color: rgb(245, 116, 4);
}
div#two{
    background: rgb(249, 140, 7);
    color: rgb(245, 4, 225);
}


div#three{
    background: rgba(11, 150, 6, 0.993);
    color: rgb(245, 161, 4);
}
