<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello Welcome to the Ridee booking app! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Greetings!</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card" id="one">
 
 
   
    <p>Welcome, this application is to let a customer book taxi service from the app and let the application share device's current location to prevent hassle of providing correct address for pickup.</p>
  </div>
  <div class="card" id="two">
    
   
     
      <p>This application makes use of certain sensor of user's device such as Location and GPS Sensors</p>
    </div>
    <div class="card" id="three">
 
   
    <p>Please move to RIDEE to select your Ridee options</p>
  </div>
</ion-content>
